/* Results.css */
div {
    text-align: center;
    margin-top: 30px;
  }
  
  h1 {
    font-size: 3rem;
    color: #FF7F00;
  }
  
  p {
    font-size: 1.5rem;
    color: #333;
  }
  
  button {
    background-color: #009688;
    color: white;
    font-size: 18px;
    padding: 12px 24px;
    border-radius: 8px;
    margin-top: 20px;
  }
  
  button:hover {
    background-color: #00796b;
  }
  